<ion-view view-title="Basic" hide-tabs='some-bool-expression'>
  <ion-nav-buttons side="left">
    <button class="button button-small button-clear icon ion-ios-arrow-back" ng-click="gotoMain()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    <h1 class="text-center title-text text-green" id="title-top">Choose the Topic</h1>
    <div class="row">
      <a class="col col-33 col-offset-33 item item-image text-green" id="sublevel1" ng-href="#/tab/content-intro">
        <img src="img/family.png">
        <p>Family</p>
      </a>
    </div>
    <div class="row">
      <a class="col item item-image text-green" id="sublevel2" ng-href="#/tab/content-intro">
        <img src="img/home.png">
        <p>Home</p>
      </a>
      <a class="col item item-image text-green" id="sublevel3" ng-href="#/tab/content-intro">
        <img src="img/food.png">
        <p>Food</p>
      </a>
      <a class="col item item-image text-green" id="sublevel4" ng-href="#/tab/content-intro">
        <img src="img/kitchen.png">
        <p>Kitchen</p>
      </a>
    </div>
    <div class="row">
      <a class="col item item-image text-green" id="sublevel5" ng-href="#/tab/content-intro">
        <img src="img/fruits.png">
        <p>Fruits</p>
      </a>
      <a class="col item item-image text-green" id="sublevel6" ng-href="#/tab/content-intro">
        <img src="img/vegetables.png">
        <p>Vegetables</p>
      </a>
      <a class="col item item-image text-green" id="sublevel7" ng-href="#/tab/content-intro">
        <img src="img/numbers.png">
        <p>Number</p>
      </a>
    </div>

  </ion-content>
</ion-view>
