<ion-view view-title="Beginner" hide-nav-bar="true" hide-tabs='some-bool-expression'>
	<ion-content class="padding" ng-controller='FamMomCtrl'>
		<div class="row" id="status-bar-level">
			<a class="icon ion-android-close close-button" ng-href="#/tab/beginner"></a>
			<progress max="100" value="28"></progress>
		</div>
		<div class="row">
			<div id="score-0">
				<div class="button button-outline circle-score button-energized button-small" ng-click="openModalScore()" ng-controller='ModalScoreCtrl'>
					<p>{{value}}</p>
				</div>
			</div>
		</div>
		<div ng-switch="content">
			<div class="row" ng-switch-default id="score-1-fam7">
				<div class="col col-75">
					<h3>She is a _______</h3>	
				</div>
				<div class="col">				
					<button class="button button-clear" ng-click="openModalLevel()" ng-controller='ModalLevelCtrl'>
						<img src="img/home-icon.png">
					</button>
				</div>
			</div>
		</div>
		<div class="sub-word">
			<h5>Dia adalah seorang ibu</h5>
			<button ng-click="openModal()" ng-controller='ModalCtrl' class="button-clear"><img src="img/sign-button.png"></button>
		</div>
		<div class="sub-word" id="fam-7">
			<h5>Type the right word</h5>
			<div class="row translate-help">
				<div class="button button-small circle-button button-positive" ng-click="showDiv = !showDiv">?</div>
				<div ng-show="showDiv" class="cssSlideUp">
			    	<p>Tuliskan kata yang tepat</p>
				</div>
			</div>
		</div>
		<div>
			<label class="item item-input" id="custom-input-answer">
				<input type="text" class="text-center" id="input-answer" placeholder="Answer here" ng-model="inputValue" ng-pattern="mother">
				</input>
			</label>
		</div>
		<div class="button-next">
			<a class="button button-block button-balanced" ng-disabled="!inputValue" ng-click="showFamMomAlert()">CHECK</a>
		</div>
	</ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal fade-in-scale">
    <div class="ion-modal-content-custom">
      <ion-content class="padding">
      	<div class="close-modal">
          <a class="icon ion-android-close close-button-modal" ng-click="closeModal()"></a>
        </div>
        <div class="video-sl text-center">
          <img src="video/dia_ibu_sl.gif">
        </div>
      </ion-content>
    </div>
  </ion-modal-view>
</script>

<script id="my-modal-score.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal modal-score fade-in-scale">
    <div class="ion-modal-content-custom">
      <ion-content class="padding custom-modal-content">
      	<div class="close-modal-button">
      		<button class="button button-clear button-small" ng-click="closeModalScore()">
      			<i class="ion-android-close"></i>
      		</button>
      	</div>
      	<h4 class="text-center">Your score is</h4>
        <h1 class="text-center">{{score}}</h1>
      </ion-content>
    </div>
  </ion-modal-view>
</script>

<script id="my-modal-level.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal fade-in-scale">
    <div class="ion-modal-content-custom">
      <ion-content class="padding custom-modal-content">
      	<div class="close-modal-button">
      		<button class="button button-clear button-small" ng-click="closeModalLevel()">
      			<i class="ion-android-close"></i>
      		</button>
       	</div>
       	<img src="img/home-icon.png">
       	<h5 class="text-center">You are in Basic Level</h5>
      </ion-content>
    </div>
  </ion-modal-view>
</script>

<script id="popup-template-correct.html" type="text/ng-template">
	<div class="answer-popup-correct">
		<div class="icon-correct col text-center">
			<i class="ion-checkmark-circled"></i>
		</div>
		<div class="text-center text-correct">
			<p>Correct</p>
		</div>
		<div class="points-correct text-center">
			<p>You got <b>+50</b> points!</p>
		</div>
	</div>
</script>

<script id="popup-template-incorrect.html" type="text/ng-template">
	<div class="answer-popup-incorrect">
		<div class="icon-incorrect col text-center">
			<i class="ion-close-circled"></i>
		</div>
		<div class="text-center text-incorrect">
			<p>Incorrect</p>
		</div>
		<div class="text-center image-incorrect">
			Your answer is <b>{{inputValue}}</b>. It should be:<br>
			<h3>Mother</h3>
		</div>
	</div>
</script>