<ion-view view-title="Beginner" hide-nav-bar="true" hide-tabs='some-bool-expression'>
	<ion-content class="padding" ng-controller="MotherReviewCtrl">
		<div class="row" id="status-bar-level-intermediate">
			<a class="icon ion-android-close close-button" ng-href="#/tab/beginner"></a>
			<progress max="100" value="97.5"></progress>
		</div>
		<div class="row family-23">
			<div id="score-0">
				<div class="button button-outline circle-score button-energized button-small" ng-click="openModalScore()" ng-controller='ModalScoreCtrl'>
					<p>{{value}}</p>
				</div>
			</div>
		</div>
		<div ng-switch="content">
			<div class="row" ng-switch-default id="score-1-fam23">
				<div class="col col-75">
					<img src="img/whiteboard-review-big.png" id="img-motherreview">	
				</div>
				<div class="col">
					<button class="button button-clear" ng-click="openModalLevel()" ng-controller='ModalLevelCtrl'>
						<img src="img/building.png">
					</button>
				</div>
			</div>
		</div>
		<div class="sub-word" id="fam-23">
			<h5>What is the picture above?</h5>
			<div class="row translate-help">
				<div class="button button-small circle-button button-positive" ng-click="showDiv = !showDiv">?</div>
				<div ng-show="showDiv" class="cssSlideUp">
			    <p>Foto apa di atas?</p>
				</div>
			</div>
		</div>

		<!-- Selectable Answer -->
		<div class="row" radio-group id="cards-choice-1">
			<div class="col col-50">
				<ion-radio class="card" id="card-a-fam23" icon="ion-checkmark" ng-model="$parent.radioValue" name="choiceId" value="Whiteboard">
					<img src="video/whiteboard.gif">
				</ion-radio>
			</div>
			<div class="col col-50">
				<ion-radio class="card" id="card-b-fam23" icon="ion-checkmark" ng-model="$parent.radioValue" name="choiceId" value="Teacher">
					<img src="video/teacher.gif">
				</ion-radio>
			</div>
		</div>
		<div class="row" radio-group>
			<div class="col col-50">
				<ion-radio class="card" id="card-c-fam23" icon="ion-checkmark" ng-model="$parent.radioValue" name="choiceId" value="Student">
					<img src="video/student.gif">
				</ion-radio>
			</div>
			<div class="col col-50">
				<ion-radio class="card" id="card-d-fam23" icon="ion-checkmark" ng-model="$parent.radioValue" name="choiceId" value="Study">
					<img src="video/study.gif">
				</ion-radio>
			</div>
		</div>

		<div class="button-next">
			<a class="button button-block button-energized" ng-disabled="!radioValue" ng-click="showSchoolThirtyOneAlert()">CHECK</a>
		</div>
	</ion-content>
</ion-view>

<script id="my-modal-score.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal modal-score fade-in-scale">
    <div class="ion-modal-content-custom">
      <ion-content class="padding custom-modal-content">
      	<div class="close-modal-button">
      		<button class="button button-clear button-small" ng-click="closeModalScore()">
      			<i class="ion-android-close"></i>
      		</button>
      	</div>
      	<h4 class="text-center">Your score is</h4>
        <h1 class="text-center">{{score}}</h1>
      </ion-content>
    </div>
  </ion-modal-view>
</script>

<script id="my-modal-level.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal fade-in-scale">
    <div class="ion-modal-content-custom">
      <ion-content class="padding custom-modal-content">
      	<div class="close-modal-button">
      		<button class="button button-clear button-small" ng-click="closeModalLevel()">
      			<i class="ion-android-close"></i>
      		</button>
       	</div>
       	<img src="img/building.png">
       	<h5 class="text-center">You are in Intermediate Level</h5>
      </ion-content>
    </div>
  </ion-modal-view>
</script>

<script id="popup-template-correct.html" type="text/ng-template">
	<div class="answer-popup-correct">
		<div class="icon-correct col text-center">
			<i class="ion-checkmark-circled"></i>
		</div>
		<div class="text-center text-correct">
			<p>Correct</p>
		</div>
		<div class="points-correct text-center">
			<p>You got <b>+70</b> points!</p>
		</div>
	</div>
</script>

<script id="popup-template-incorrect.html" type="text/ng-template">
	<div class="answer-popup-incorrect">
		<div class="icon-incorrect col text-center">
			<i class="ion-close-circled"></i>
		</div>
		<div class="text-center text-incorrect">
			<p>Incorrect</p>
		</div>
		<div class="text-center image-incorrect-review">
			Your answer is <b>{{radioValue}}</b>. It should be:<br><br>
			<img src="video/whiteboard.gif">			
		</div>
	</div>
</script>