<ion-view view-title="Welcome" hide-nav-bar="true" hide-tabs='some-bool-expression'>
	<ion-content class="padding intro">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box-first">
          <h1 class="text-center title-text" id="welcome-text">Welcome!</h1>
          <div class="row">
            <a class="col col-33 col-offset-33 item item-image" id="welcome-1">
              <img src="img/book-open.png">
            </a>
          </div>
          <h4 class="text-center">Learn</h4>
          <h5 class="text-center">
            Belajar bahasa Inggris dengan mudah.<br>
            Dengan aplikasi ini kamu bisa<br>
            belajar bahasa Inggris sehari-hari<br>
            sehingga dapat melatih komunikasi.
          </h5>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box-first">
          <h1 class="text-center title-text" id="welcome-text-2">Welcome!</h1>
          <div class="row">
            <a class="col col-33 col-offset-33 item item-image" id="welcome-2">
              <img src="img/play.png">
            </a>
          </div>
          <h4 class="text-center">Play</h4>
          <h5 class="text-center">
            Belajar dengan permainan.<br>
            Dengan aplikasi ini kamu belajar<br>
            sambil bermain. Selesaikan soal-soal<br>
            agar kamu mendapatkan nilai tinggi.
          </h5>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box-first">
          <h1 class="text-center title-text" id="welcome-text-3">Ready?</h1>
          <h4 class="text-center input-avatar">Input your name!</h4>  
        </div>
        <div class="row">
          <a class="col col-33 col-offset-33 item item-image" id="avatar-intro">
            <img src="img/avatar-intro.png">
          </a>
        </div>
        <div class="input-user">
          <label for="username-input" class="item item-input" id="custom-input-signin">
            <input type="text" placeholder="Your Name" class="text-center" name="username-input" id="username-input" ng-model="user.username">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-stable" ng-click="signIn(user)" type="submit">
            START <i class="ion-ios-arrow-forward"></i>
          </button>
        </div>
      </ion-slide>
    </ion-slide-box>
	</ion-content>
</ion-view>
