<ion-view view-title="Supermarket" hide-nav-bar="true" hide-tabs='some-bool-expression'>
	<ion-content class="padding finish-supermarket" scroll="false">
		<div class="gotoreview-content text-center">
			<h3>CONGRATULATION</h3>
			<p>You've got a badge!</p>
			<img src="img/Search.png">
			<p>Your score is</p>
			<h2>{{value}}</h2>
		</div>
		<div class="button-next">
			<a class="button button-block button-light" ng-href="#/tab/advance">CONTINUE <i class="ion-ios-arrow-forward"></i></a>
			<a class="button button-block button-light" ng-click="quit()">QUIT</i></a>
		</div>
	</ion-content>
</ion-view>