<ion-view view-title="Learn" on-swipe-left="swipechats()">
  <ion-content class="padding" scroll="false" overflow-scroll = "false" on-swipe-left="swipechats()">
    <div class="list card" id="card-home1" ng-href="#/tab/beginner">
      <a class="item item-thumbnail-left item-icon-right" id="avatar-home1" ng-href="#/tab/beginner">
        <img src="img/beginner.png">
        <h2>Basic</h2>
        <progress max="100" value="5"> </progress>
        <i class="icon ion-chevron-right icon-accessory" href="#/tab/beginner"></i>
      </a>
    </div>

    <div class="list card" id="card-home2" ng-href="#/tab/intermediate">
      <a class="item item-thumbnail-left item-icon-right" id="avatar-home2" ng-href="#/tab/intermediate">
        <img src="img/intermediate.png">
        <h2>Intermediate</h2>
        <i class="icon ion-chevron-right icon-accessory" href="#/tab/intermediate"></i>
      </a>
    </div>

    <div class="list card" id="card-home3">
      <a class="item item-thumbnail-left item-icon-right" id="avatar-home3" href="#/tab/advance">
        <img src="img/advance.png">
        <h2>Advance</h2>
        <i class="icon ion-chevron-right icon-accessory" href="#/tab/advance"></i>
      </a>
    </div>
   </ion-content>
</ion-view>
